/*
* @Author: A
* @Date:   2021-05-12 15:02:24
* @Last Modified by:   A
* @Last Modified time: 2021-05-13 16:42:24
*/
.hui-lable{
    display: flex;align-items: center
}

.hui-lable *{
    align-items: center;
}

.hui-lable label{
    margin: 0;
}


.tab-pane .curr{
    background:rgb(64 169 255);
    color: #fff;
}

.tab-pane .btn-link{
    color: #000;
    text-decoration: none;
}