/*
* @Author: A
* @Date:   2021-05-12 15:02:24
* @Last Modified by:   A
* @Last Modified time: 2021-05-19 15:44:45
*/
.hui-lable{
    display: flex;align-items: center
}

.hui-lable *{
    align-items: center;
}

.hui-lable label{
    margin: 0;
}


.tab-pane .curr{
    background:rgb(64 169 255);
    color: #fff;
}

.tab-pane .btn-link{
    color: #000;
    text-decoration: none;
}

.hui-wrap{
    position: relative;
}

.hui-nav{
    float: right;
    z-index: 9;
    display: none;
}

.hui-nav .col-lg-8{
    padding: 0;
    border-radius: 5px;
}

.hui-nav-show{
    display: block;
}

.hui-nav-hide{
    display: none;
}


.hui-tab-content .btn:hover{
    color: #313a46;
    background-color: #e3eaef;
    border-color: #e3eaef;
}

